

.wizard {
  height: 150px;
  width: auto;
}

.App {
  width: 400px;
  margin: 250px;
  padding: 20%;
  background-color: rgb(96, 79, 112);
  font-family: sans-serif;
  text-align: center;
  background-color: #462953;
  max-width: 75%;
  box-shadow: 0 0 50px #ae01ff;
  border-radius: 15px;
  border: solid 10px #ba537b;
}

.accordion {
  text-align: center;
}
.tarot { 
  width: 20%;
  font-weight: bold;
  border: solid 2px black;
  box-shadow: 0 0 10px #35024d;
  margin: 15%;
  background-color: rgb(182, 122, 204);
}

.content {
  text-emphasis: wrap;
  margin: 10px;

}
.tarotCards {
  padding: 5%;
  font-weight: bold;
  border: solid 2px black;
  box-shadow: 0 0 10px #35024d;
  margin: 2%;
  background-color: rgb(182, 122, 204);
}

.majorDiv { 
  border: none;
}
